.navbar {
    background-color: rgb(42, 16, 103);
    padding: 10px;
}
.login {
    width: 400px;
    padding: 20px;
    user-select: none;
}
.register{
    width: 400px;
    padding: 15px;
    user-select: none;

}
.button {
    background-color: rgb(0, 125, 235);
}
.body{
    background-color: rgb(61, 18, 161);
}
.btn{
    background-color: rgb(61, 18, 161);
}